# server {
#   listen 443 ssl;
#   server_name DOMAIN;
# 
#   ssl_certificate_key /etc/letsencrypt/live/DOMAIN/privkey.pem;
#   ssl_certificate     /etc/letsencrypt/live/DOMAIN/fullchain.pem;
# 
#   root /usr/share/nginx/html;
# }
